 /* Style the navigation menu for mobile */
 .topnav {
  overflow: hidden;
  position: fixed;
  justify-content: space-between;
  width:100%;
 }

.topnav__logo {
  color: var(--clr-primary);
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
   }

.topnav__logo--active {
 color: var(--clr-primary-text-002);
}

.topnav__links {
  display: none;
}

.topnav__link {
  color: var(--clr-primary);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-align: left;
  display: block;
}

.topnav__icon {
  color:var(--clr-primary-text-002);
  display: block;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
  padding:10px;
}

.topnav__link:hover {
  color: var(--clr-accent)
}  

.topnav__link.active{
color: #e60707; 
}
/* Style the sidebar */
.sidebar {
  width: 200px;
  display: none;

}
.sidebar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav__heading {
  margin: 0;
  padding: 10px;
}
.sidebar-nav__link {
  text-decoration: none;
  color: var(--clr-primary);
  padding: 10px;
}
.topnav__link,
.sidebar-nav__link {
  color: var(--clr-primary);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.sidebar-nav__link:hover {
  color: var(--clr-accent);
}
.sidebar-nav__link.active {
  color:var(--clr-accent-100); 
 }

 
.color-swatches {
  flex-direction: column;
  margin-left: 240px; /* Adjust margin to match the width of the sidebar */
}


.color-box{
  width:200px;
  height:100px;
  border: 1px solid black;
   }
   .large-screen {
    display: none; /*  Ensure  large-screen class content on large screens */
  }
  .mobile {
    display: block; /* Show mobile content is  on large screens */
  }



/*Typography*/
.u-heading {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--clr-secondary-text);
}

.u-heading-2 {
  font-family: var(--body-font-family);
  font-size: 1.5rem;   
  font-weight: var(--body-font-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--clr-secondary-text);
}
.code-container {
  position: relative;
  display: inline-block; /* Wrap the container around the content */
  border: 2px solid #ddd; /* Add border */
  margin: 10px; /* Add some margin around the box */
  border-radius: 5px; /* Optional: rounded corners */
  background-color: #f9f9f9; /* Light background */
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional: add shadow for depth */
}
.code-block {
  padding: 20px; /* Add padding around the code */
  overflow-x: auto; /* Make sure it scrolls horizontally if needed */
}
.copy-button {
  position: absolute;
  right: 5px; /* Adjust based on preference */
  top: 5px; /* Adjust based on preference */
  cursor: pointer;
  font-size: 24px; /* Icon size */
  color: #636c78; /* Icon color, adjust as needed */
}
/* Optional: Style for hover effect on the icon */
.copy-button:hover {
  color: #2c5282; /* Darker shade when hovered */
}
.scrollable-container {
  width: 100%;                /* Set the width to 100% of its parent or a fixed width as needed */
  overflow-x: auto;           /* Enable horizontal scrolling */
  white-space: nowrap;        /* Keep all the contents on the same line */
  padding: 10px;              /* Optional: Add padding inside the container */
  box-sizing: border-box;     /* Include padding in the width calculation */
}


/* Media query for larger screens (min-width: 769px) */
@media screen and (min-width: 769px) {
    
    .topnav__logo-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .topnav__logo {
      margin-right: left; /* Push the logo to the left */
      color: var(--clr-white);
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    .topnav__logo:hover{
       color: var(--clr-primary);
    }
    .topnav__links {
      display: flex;
      align-items: center;
    }
  
    .topnav__link {
      color: var(--clr-primary-text-001);
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    .topnav__link:hover{
     color: var(--clr-accent);
    }
    .topnav__icon {
      display: none; /* Hide the hamburger icon on larger screens */
    }
    .top_width{
      max-width: 600px;
    }
    .sidebar-nav__link {
      color: var(--clr-primary);
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      background-color: transparent; /* Add this to ensure the background is transparent */
    }
    .sidebar{
      display:flex;
      position:fixed;
      height: 100vh;
      width: 200px;
      top: 60px; /* Height of the top nav */
      left: 0;
      overflow-x: hidden;
      overflow-y: auto;
    }
  
    .sidebar_mobile {
      display:none;
  }
  .sidebar-nav__link:hover {
    color: var(--clr-accent);
  }
  .sidebar-nav__link.active,.topnav__link.active{
    color: var(--clr-accent-100);
     }
     .large-screen {
      display: block; /* Show large-screen class content on large screens */
    }
    .mobile {
      display: none; /* Ensure mobile content is hidden on large screens */
    }
  
  }

