 /* Style the navigation menu for mobile */
 .topnav {
    overflow: hidden;
    position: relative;
  }
  .topnav--white {
    background-color: var(--clr-white);
  }
  .topnav__logo {
    color: var(--clr-primary);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav__logo--active {
    background-color: var(--clr-secondary);
    color: var(--clr-white);
  }
  
  .topnav__links {
    display: none;
  }
  
  .topnav__link {
    color: var(--clr-primary);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav__icon {
    background: var(--clr-secondary);
    color:var(--clr-white);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding:10px;
  }
  
  .topnav__link:hover {
    background-color: var(--clr-white);
    color: var(--clr-light);
  }  
  /* Style the sidebar */
.sidebar {
    width: 200px;
    position: absolute;
  }
  .sidebar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-nav__heading {
    margin: 0;
    padding: 0;
  }
  .sidebar-nav__link {
    text-decoration: none;
    color: var(--clr-primary);
    display: block;
    padding: 10px;
  }
  
  .sidebar-nav__link:hover {
    color: var(--clr-light);
  }

  u-colorswatch{
    display:flex;
    width:200px;
    height:100px;
    margin-left: 20px;
    color:var(--clr-primary)
  }
  .container{
    display:flex;
  }
  .container-1{
   display: flex;
   margin-left: 200px;
    }

  .color-swatches {
    display: flex;
    flex-direction: column;
    margin-left: 240px; /* Adjust margin to match the width of the sidebar */
  }

  .swatch-text {
    font-size: 14px;
    list-style-type: style;
    padding: 0;
    margin: 0;
  }
  .color-box1{
    width:200px;
    height:100px;
    background-color: var(--clr-primary-100);
  }
  .color-box2{
    width:200px;
    height:100px;
    background-color: var(--clr-primary-light);
  }
  .color-box3{
    width:200px;
    height:100px;
    background-color: var(--clr-primary-dark);
  }
  .color-box4{
    width:200px;
    height:100px;
    background-color: var(--clr-secondary-bg);
  }
  .color-box5{
    width:200px;
    height:100px;
    background-color: var(--clr-secondary-text);
  }
  .color-box6{
    width:200px;
    height:100px;
    background-color: var(--clr-accent-100);
  }
  /*Typography*/
  .font-uses {
    display: flex;
    justify-content: space-between;
  }
  .font-uses {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
  }

  .main{
    display:flex;
    flex-direction: column;
    flex:1;
  }
  .fonts{
    padding: 10px;
  }



  /* Utility Classes */
  .u-heading {
    font-family: var(--heading-font-family);
    font-size: var(--heading-font-size);
    font-weight: var(--heading-font-weight);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--clr-secondary-text);
  }
  
  .u-heading-2 {
    font-family: var(--body-font-family);
    font-size: 1.5rem;   
    font-weight: var(--body-font-size);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--clr-secondary-text);
  }
  .u-font-serif {
    font-family: var(--heading-font-family);
  }
  
  .u-font-sans {
    font-family: var(--body-font-family);
  }
  
  .u-font-size-800 {
    font-size: 2rem;
  }
  
  .u-font-size-400 {
    font-size: var(--body-font-size);
  }
  
  .u-font-weight-700 {
    font-weight: bold;
  }
  
  .u-font-weight-400 {
    font-weight: normal;
  }
  .u-font-weight-100{
    font-weight: lighter;
  }
  .u-letter-spacing-2 {
    letter-spacing: 0.2em;
  }
  .u-text-accent{
    color:var(--clr-accent-100);
  }
  /* Media query for larger screens (min-width: 769px) */
  @media screen and (min-width: 769px) {
    .topnav {
        background-color: var(--clr-secondary); /* Dark shade for the navigation bar */
      }
      
      .topnav__logo-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      .topnav__logo {
        margin-right: auto; /* Push the logo to the left */
        color: var(--clr-white);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      .topnav__logo:hover{
        background-color: var(--clr-secondary);
        color: var(--clr-primary);
      }
      .topnav__links {
        display: flex;
        align-items: center;
      }
    
      .topnav__link {
        color: var(--clr-white);
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }
      .topnav__link:hover{
        background-color: transparent;
        color: var(--clr-primary);
      }
      .topnav__icon {
        display: none; /* Hide the hamburger icon on larger screens */
      }
      .sidebar {
        display: block;
    }
    .container-1 {
      margin-left: 200px;
  }
  .font-uses {
    flex-direction: row; /* Change to two-column layout for larger screens */
}
      
}