:root {
    /* Grayscale colors */
    --clr-primary: black;
    --clr-secondary: #333; /* Dark grey */
    --clr-light: #f0f0f0; /* Very light grey */
    --clr-white: white;
  

  /* Primary Colors */
  --clr-primary-bg-001: #F4D2E9; /* Base color1 */
  --clr-primary-text-001: #0A4C2E; /*text color*/
  --clr-primary-text-002: #104041;/*text color*/
  --clr-primary-bg-002:#E299FF;/* Base color2*/
  --clr-primary-bg-003:#B3E5CE;/* Base color3*/

  /* Secondary Colors */
  --clr-secondary-bg: #fff7b3; /* Secondary background color */
  --clr-secondary-text: #061b01b6; /* Secondary text color */


  /* Accent Colors */
  --clr-accent: #e44b09d7; 


  /* Neutrals */
  --clr-gray-light: #e2efdb;
  --clr-gray: #868f84;
  --clr-gray-dark: #47463d;

    /*font variables*/
    --heading-font-family: 'Montserrat', sans-serif;
    --body-font-family: 'Roboto', sans-serif;
  
    --heading-font-size: 2.5rem;
    --body-font-size: 1rem;
  
    --heading-font-weight: bold;
    --body-font-weight: normal;
  
    --line-height: 1.6;
    --letter-spacing: 0.02em;
}

 /* Utility Classes */
 .u-color-primary-bg1{
  background-color: var(--clr-primary-bg-001);
 }
 .u-color-primary-text1{
  background-color: var(--clr-primary-text-001);
 }
 .u-color-primary-text2{
  background-color: var(--clr-primary-text-002);
 }
 .u-color-primary-bg2{
  background-color: var(--clr-primary-bg-002);
 }
 .u-color-primary-bg3{
  background-color: var(--clr-primary-bg-003);
 }
 .u-color-secondary-bg{
  background-color: var(--clr-secondary-bg);
 }
 .u-color-secondary-text{
  background-color: var(--clr-secondary-text);
 }
 .u-color-primary{
  background-color: var(--clr-primary);
 }
 .u-color-secondary{
  background-color: var(--clr-secondary);
 }
 .u-color-light{
  background-color: var(--clr-light);
 }
 .u-color-dark{
  background-color: var(--clr-dark);
 }
 .u-heading {
  font-family: var(--heading-font-family);
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--clr-secondary-text);
}

.u-heading-2 {
  font-family: var(--body-font-family);
  font-size: 1.5rem;   
  font-weight: var(--body-font-size);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  color: var(--clr-secondary-text);
}
.u-font-serif {
  font-family: var(--heading-font-family);
}

.u-font-sans {
  font-family: var(--body-font-family);
}

.u-font-size-800 {
  font-size: 2rem;
}

.u-font-size-400 {
  font-size: var(--body-font-size);
}

.u-font-weight-700 {
  font-weight: bold;
}

.u-font-weight-400 {
  font-weight: normal;
}
.u-font-weight-100{
  font-weight: lighter;
}
.u-letter-spacing-2 {
  letter-spacing: 0.2em;
}
.u-text-accent{
  color:var(--clr-accent-100);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
    box-sizing: border-box;
  }
  /* Remove padding from lists */
  ul, ol {
    padding: 0;
  }
   /* Reset margins for various elements */
  body,
  h1, h2, h3, h4, h5, h6,
  p,
  figure,
  picture {
    margin: 0;
  }