:root {
    /* Grayscale colors */
    --clr-primary: black;
    --clr-secondary: #333; /* Dark grey */
    --clr-accent: #333; /* Dark grey */
    --clr-light: #f0f0f0; /* Very light grey */
    --clr-white: white;
  

  /* Primary Colors */
  --clr-primary-100: #5E5E5E; /* Base color */
  --clr-primary-light: #cdc65d; /* Light tone */
  --clr-primary-dark: #9C8A11; /* Dark tone */
  --clr-primary-text-light:#edd5ab;
  --clr-primary-text-dark:#342304;

  /* Secondary Colors */
  --clr-secondary-bg: #fff7b3; /* Secondary background color */
  --clr-secondary-text: #061b01b6; /* Secondary text color */


  /* Accent Colors */
  --clr-accent-100: #5B2574D7; 


  /* Neutrals */
  --clr-white: #FFFFFF;
  --clr-gray-light: #e2efdb;
  --clr-gray: #868f84;
  --clr-gray-dark: #47463d;

    /*font variables*/
    --heading-font-family: 'Montserrat', sans-serif;
    --body-font-family: 'Roboto', sans-serif;
  
    --heading-font-size: 2.5rem;
    --body-font-size: 1rem;
  
    --heading-font-weight: bold;
    --body-font-weight: normal;
  
    --line-height: 1.6;
    --letter-spacing: 0.02em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
    box-sizing: border-box;
  }
  /* Remove padding from lists */
  ul, ol {
    padding: 0;
  }
   /* Reset margins for various elements */
  body,
  h1, h2, h3, h4, h5, h6,
  p,
  figure,
  picture {
    margin: 0;
  }