:root {
    /* Grayscale colors */
    --clr-primary:#000;
    --clr-secondary: #453f3f; /* Dark grey */
    --clr-light: #f0f0f0; /* Very light grey */
    --clr-white: white;
  

  /* Primary Colors */
  --clr-primary-bg-001: #F4D2E9; /* Base color1 */
  --clr-primary-text-001: #0a4c2e; /*text color*/
  --clr-primary-text-002: #411038;/*text color*/
  --clr-primary-bg-002:#FFADAD;/* Base color2*/
  --clr-primary-bg-003:#B3E5CE;/* Base color3*/

  /* Secondary Colors */
  --clr-secondary-bg: #fff7b3; /* Secondary background color */
  --clr-secondary-text: #061b01b6; /* Secondary text color */


  /* Accent Colors */
  --clr-accent: #e44b09d7; 
  --clr-accent-100:#FF0000;



  /* Neutrals */ 
  --clr-gray-light: #e2efdb;
  --clr-gray: #868f84;
  --clr-gray-dark: #47463d;

    /*font variables*/
    --heading-font-family: 'Merriweather', sans-serif;
    --body-font-family: 'Lora', sans-serif;

    --heading-font-size:2.5rem;
    --heading-font-weight:bold;

    --body-font-weight:normal;
  
    --line-height: 1.6;
    --letter-spacing: 0.02em;
}

 /* Utility Classes background colors*/
 .u-color-primary-bg1{
  background-color: var(--clr-primary-bg-001);
 }
 .u-color-primary-text1{
  background-color: var(--clr-primary-text-001);
 }
 .u-color-primary-text2{
  background-color: var(--clr-primary-text-002);
 }
 .u-color-primary-bg2{
  background-color: var(--clr-primary-bg-002);
 }
 .u-color-primary-bg3{
  background-color: var(--clr-primary-bg-003);
 }
 .u-color-secondary-bg{
  background-color: var(--clr-secondary-bg);
 }
 .u-color-secondary-text{
  background-color: var(--clr-secondary-text);
 }
 .u-color-primary{
  background-color: var(--clr-primary);
 }
 .u-color-secondary{
  background-color: var(--clr-secondary);
 }
 .u-color-light{
  background-color: var(--clr-light);
 }
 .u-color-white{
  background-color: var(--clr-white);
   }
.u-color-red{
    background-color: var(--clr-accent-100);
   }
.u-color-grey-light{
    background-color: var(--clr-gray-light);
   }
   /*Utility class text colors*/

.u-color-primary-text001{
    color:  var(--clr-primary-bg-001);
   }

.u-color-primary-text002{
    color: var(--clr-primary-text-001);
   }
.u-color-primary-text003{
    color: var(--clr-primary-text-002);
   }
.u-color-primary-text004{
    color: var(--clr-primary-bg-002);
   }
.u-color-primary-text005{
    color: var(--clr-primary-bg-003);
   }
.u-color-secondary-text006{
   color: var(--clr-secondary-bg);
   }
.u-color-secondary-text007{
    color: var(--clr-secondarytext);
   }
.u-color-primary-text008{
    color: var(--clr-primary);
   }
.u-color-secondary-text009{
   color: var(--clr-secondary);
   }
.u-color-light-text010{
    color: var(--clr-light);
   }
.u-color-white-text011{
    color: var(--clr-white);
     }
.u-color-red-text012{
      color: var(--clr-accent-100);
     }
.u-color-grey-light-text013{
      color: var(--clr-gray-light);
     }

/*font families*/

.u-font-merriweather {
  font-family: var(--heading-font-family);
}

.u-font-lora {
  font-family: var(--body-font-family);
}

.u-font-size-800 {
  font-size: 2.5rem;
}

.u-font-size-700 {
  font-size: 2rem;
}

.u-font-size-600 {
  font-size: 1.5rem;
}

.u-font-size-500 {
  font-size: 1.25rem;
}
.u-font-size-400 {
  font-size: 1rem;
}

.u-font-weight-700 {
  font-weight: bold;
}

.u-font-weight-400 {
  font-weight: normal;
}
.u-font-weight-100{
  font-weight: lighter;
}
.u-letter-spacing-2 {
  letter-spacing: 0.2em;
}
.u-text-accent{
  color:var(--clr-accent-100);
}
/* Space layout classes for margin*/
.l-m-1{
  margin: 1rem;
} 
.l-m-1-25 {
  margin:1.25rem;
}
.l-m-1-50 {
  margin:1.5rem;
}
.l-m-2 {
  margin:2rem;
}
.l-m-2-25 {
  margin:1.25rem;
}
.l-m-2-50 {
  margin:1.25rem;
}
.l-mt-1{
  margin: 1rem;
} 
.l-mt-1-25 {
  margin:1.25rem;
}
.l-mt-1-50 {
  margin:1.5rem;
}
.l-mt-2 {
  margin:2rem;
}
.l-mt-2-25 {
  margin:1.25rem;
}
.l-mt-2-50 {
  margin:1.25rem;
}
.l-mb-1{
  margin: 1rem;
} 
.l-mb-1-25 {
  margin:1.25rem;
}
.l-mb-1-50 {
  margin:1.5rem;
}
.l-mb-2 {
  margin:2rem;
}
.l-mb-2-25 {
  margin:1.25rem;
}
.l-mb-2-50 {
  margin:1.25rem;
}
.l-mr-1{
  margin: 1rem;
} 
.l-mr-1-25 {
  margin:1.25rem;
}
.l-mr-1-50 {
  margin:1.5rem;
}
.l-mr-2 {
  margin:2rem;
}
.l-mr-2-25 {
  margin:1.25rem;
}
.l-mr-2-50 {
  margin:1.25rem;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
    box-sizing: border-box;
  }
  /* Remove padding from lists */
  ul, ol {
    padding: 0;
  }
   /* Reset margins for various elements */
  body,
  h1, h2, h3, h4, h5, h6,
  p,
  figure,
  picture {
    margin: 0;
    line-height:1.5rem;
  }